<div id="root"></div>

<%= javascript_pack_tag "application" %>

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("<%= asset_path('serviceworker.js') %>")
  }
</script>